<div>
    <div class="row">
        <div class="col-lg-12">
            <div id="alSuccess" class="alert bg-success hide" role="alert"><em class="fa fa-lg fa-warning">&nbsp;</em> Success <a href="#" class="pull-right"><em id="alClose" class="fa fa-lg fa-close"></em></a></div>
            <div id="alFaild" class="alert bg-danger hide" role="alert"><em class="fa fa-lg fa-warning">&nbsp;</em> Faild <a href="#" class="pull-right"><em id="alClose" class="fa fa-lg fa-close"></em></a></div>
        </div>
    </div><!--/.row-->

    <div class="row">
        <ol class="breadcrumb">
            <li>
                <a href="#">
                    <em class="fa fa-home"></em>
                </a>
            </li>
            <li class="active">{{'STR_MANAGE_ROLE' | translate}}</li>
        </ol>
    </div><!--/.row-->

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">{{'STR_MANAGE_ROLE' | translate}}</h1>
        </div>
    </div><!--/.row-->
    <div class="row" ng-controller="_roleController">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">{{'STR_MANAGE_ROLE' | translate}}</div>
                <div class="panel-body btn-margins">
                    <div class="col-md-12">
                        <h2>Comming soon!</h2>
                    </div>
                </div>
            </div><!-- /.panel-->
        </div><!-- /.col-->
    </div>
</div>