<div>
    <div class="row">
        <ol class="breadcrumb">
            <li>
                <a href="#">
                    <em class="fa fa-home"></em>
                </a>
            </li>
        </ol>
    </div><!--/.row-->

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">{{'STR_MANAGE_DASHBOARD' | translate}}</h1>
        </div>
    </div><!--/.row-->
    <div class="col-lg-12">
        <!--body - start-->
        <!--body - end-->
    </div>
</div>